*~
*.pyc
*.pyo
*.tmp*
*.mo
*.egg
*.EGG
*.egg-info
*.EGG-INFO
*.kpf
*.swp
*.wpr
.*.cfg
.installed.cfg
.mr.developer.cfg
.hg/
.bzr/
.svn/
.project
.pydevproject
bin/
build/
_build/
include/
lib/
develop-eggs/
downloads/
eggs/
fake-eggs/
parts/
dist/
var/
.tox/
.python-version
.Python
pip-selfcheck.json
.pip-selfcheck.json


# OSX
.DS_Store
