@import url('plone_basic.css');

header {
    border-top-width: 11px;
    border-top-style: solid;
    border-top-color: linear-gradient(to bottom, #333333 0%, #101010 100%);

    background-color: #3094C8;
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 14%, rgba(0, 0, 0, 0) 14%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 64%, rgba(0, 0, 0, 0) 64%, rgba(0, 0, 0, 0));
    background-size: 18px 18px;
    margin-bottom: 1em;
}

header a span {
    color: #FFF;
    font-size: 24px;
}

footer#colophon {
    background: none repeat scroll 0 0 #3C9ACB;
    box-shadow: 0 8px 12px -12px rgba(0, 0, 0, 0.5) inset;
    padding-top: 1em;
    padding-bottom: 1em;
    color: #FFF;
}

footer#doormat {
    background-color: #EAF2F6;
    box-shadow: 0 8px 12px -12px rgba(0, 0, 0, 0.5) inset;
    background-size: 18px 18px;
}

footer#doormat nav {
    color: #205C90;
}

footer#doormat nav a {
    font-size: 12px;
    color: #205C90;
}

div.breadcrumbs-container div.container {
    background: linear-gradient(#EAF2F6, #DEDEDE);
    background-repeat: no-repeat;
    border-color: #DEDEDE #DEDEDE #A3A3A3;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}

aside {
    background-color: #F6F6F6;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
}
