/*@import url('default.css');*/
@import url('../basic.css');
@import url('admonition.css');

body {
    font-family: "Helvetica Neue", Arial, FreeSans, sans-serif;
    font-size: 100%;
    background: White;
    color: Black;
}

div.body h1,
div.body h2,
div.body h3,
div.body h4,
div.body h5,
div.body h6 {
    color: Black;
    background-color: White;
    font-weight: bold;
    line-height: 125%;
    border: none;
    font-family: "Helvetica Neue", Arial, FreeSans, sans-serif;
}

section {
    font-size: 14px;
}

.hiddenStructure {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    display: block;
    height: 0.1em;
    margin: -0.1em 0 0 -0.1em;
    overflow: hidden;
    padding: 0;
    width: 1px;
}
div#topbar.navbar {
    margin-bottom: 0;
    height:40px;
    min-height: 40px;
}

header {
    border-top: 11px solid #3C9ACB;
    /*height: 89px;*/
    height: auto;
    /*margin-bottom: 10px;*/
}


header a {
    /*
    margin-top: 22px;
    margin-bottom: 22px;
    */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    display: inline-block;
}

header a span {
    display: block;
    color: #3C9ACB;
    font-size: 24px;
}

header form#rtd-search-form {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 75px;
    text-align: right;
}

@media(max-width: 768px) {
    header form#rtd-search-form {
        line-height: 1em;
    }

    footer#doormat div.clearfix {
        margin-bottom: 5px;
    }
}

header form#rtd-search-form input[type=text] {
    line-height: 1em;
}

footer#colophon {
    background: none repeat scroll 0 0 #3C9ACB;
    box-shadow: 0 8px 12px -12px rgba(0, 0, 0, 0.5) inset;
    padding-top: 1em;
    padding-bottom: 1em;
    color: #FFF;
}

footer#colophon p {
    margin-bottom: 2px;
}

footer#colophon p {

    /*font-family: 'DINRegular';*/
    font-size: 11px;
}

footer#doormat {
    background-color: #EAF2F6;
    box-shadow: 0 8px 12px -12px rgba(0, 0, 0, 0.5) inset;
    background-size: 18px 18px;
}

footer#doormat nav {
    margin-top: 1em;
    margin-bottom: 1em;
    color: #205C90;
}

footer#doormat nav ul {
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0.5em;
}

footer#doormat nav a {
    font-size: 12px;
    color: #205C90;
}

div.ga-footer {
    height: 0px;
    display: none;
}

div.document {
    background-color: #FFF;
}

a:link, a:visited {
    color: #205C90;
    text-decoration: none;
}

a:link:hover,
a:visited:hover {
    color: #75ad0a;
}

div.breadcrumbs-container {
    margin-bottom: 10px;
}

div.breadcrumbs-container#breadcrumbs-bottom {
    margin-top: 10px;
}

div.breadcrumbs-container div.container {
    background: linear-gradient(#EAF2F6, #DEDEDE);
    background-repeat: no-repeat;
    border-color: #DEDEDE #DEDEDE #A3A3A3;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}

div.breadcrumbs-container li,
div.breadcrumbs-container a,
div.breadcrumbs-container .btn {
    font-size: 12px;
}

div.breadcrumbs-container ul,
div.breadcrumbs-container ul.breadcrumb {
    background-color: transparent;
    margin-bottom: 0;
    list-style-type: none;
    padding-left: 15px;
}

div.breadcrumbs-container div.rst-buttons ul {
    float: right;
}

div.breadcrumbs-container div.rst-buttons a {
    white-space: nowrap;
}

div.breadcrumbs-container ul li {
    display: inline-block;
}

div.breadcrumbs-container div.container div.row div {
    padding-left: 0;
}

.breadcrumb > li + li:before {
    padding: 0 2px;
}

aside {
    background-color: #F6F6F6;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
}

div.sidebarwrapper {
    font-size: 12px;
}

div.sidebarwrapper ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;

}
div.sidebarwrapper ul ul {
    list-style-type: none;
    padding-left: 20px;

}

div.sidebarwrapper li {
    margin-top: 5px;
    margin-bottom: 5px;
}

h1 a.headerlink,
h2 a.headerlink,
h3 a.headerlink {
    display: none;
}
h1:hover a.headerlink,
h2:hover a.headerlink,
h3:hover a.headerlink {
    display: inline-block;
}

section h1:nth-of-type(1),
section h1:first-child {
    margin-top: 0;
}

.version_switcher_placeholder label {
    display: none;
}
.lang_switcher_placeholder label {
    display: none;
}

div.aside-toggle {
    background-color: #EEEEEE;
    float: right;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: -15px;
    margin-left: 5px;
    width: 15px;
    cursor: move;
    border: 1px solid #EEEEEE;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

div.aside-toggle:hover {
    background-color: #F6F6F6;

}

.wy-form label {
    display: none;
}

blockquote {
    border-left: none;
    font-size: 14px;
    padding: 0;
    margin: 0 0 1em 0;
}

a .current.reference.internal {
    font-weight: bold;
}

/*
div.aside-toggle {
    height: 300px;

}
*/

